{% extends 'blog/base.html' %} <!--aqui heredamos todo lo de base-->

{% load static %}


{% block content %}


<script>

    
window.onload = function() {
    var elem = document.getElementById('contactanosbarra');
    elem.innerHTML = `<a href="/contactanos" class="nav-item nav-link active">contactanos</a>`


    elem = document.getElementById('titulodepag');
    elem.innerHTML = 'Contactanos | Ambientes SRL'
};

</script>


    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <div class="bg-primary text-dark text-center p-4">
                        <h4 class="m-0"><i class="fa fa-map-marker-alt text-white mr-2"></i>Tercer Piso, Cercado, Arequipa, Perú</h4>
                    </div>
                    <iframe style="width: 100%; height: 470px;"
                        src="https://www.google.com/maps/embed?pb=!4v1673988077503!6m8!1m7!1s-9pSJGpIGhwbMpJ-eej2dQ!2m2!1d-16.40408268185255!2d-71.52714305870008!3f324.92422400628135!4f25.311334234816627!5f0.7820865974627469"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-lg-7">
                    <h6 class="text-primary text-uppercase font-weight-bold">Contactanos</h6>
                    <h1 class="mb-4">En la avenida Independencia o llamando al <a href="tel:+51959656213">959656213</a></h1>
                    <div class="contact-form bg-secondary" style="padding: 30px;">
            

            <!-- Facebook -->
            <a target="_blank" class="btn btn-primary" style="background-color: #3b5998; width: 100%; height: 100px;" href="https://www.facebook.com/AmbientesConstructoraInmobiliaria/" role="button"
              ><i style="line-height: 80px;" class="fab fa-facebook-f"></i
            ></a>
            
            <!-- Twitter -->
            <!-- <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button" -->
              <!-- ><i class="fab fa-twitter"></i -->
            <!-- ></a> -->
            
            <!-- Google -->
            <!-- <a class="btn btn-primary" style="background-color: #dd4b39;" href="#!" role="button" -->
              <!-- ><i class="fab fa-google"></i -->
            <!-- ></a> -->
            
            <!-- Instagram -->
            <a class="btn btn-primary" style="background-color: #ac2bac; width: 100%; height: 100px;" href="#!" role="button"
              ><i style="line-height: 80px;" class="fab fa-instagram"></i
            ></a>
            
            <!-- Linkedin -->
            <!-- <a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button" -->
              <!-- ><i class="fab fa-linkedin-in"></i -->
            <!-- ></a> -->
            
            <!-- Pinterest -->
            <!-- <a class="btn btn-primary" style="background-color: #c61118;" href="#!" role="button" -->
              <!-- ><i class="fab fa-pinterest"></i -->
            <!-- ></a> -->
            
            <!-- Vkontakte -->
            <!-- <a class="btn btn-primary" style="background-color: #4c75a3;" href="#!" role="button" -->
              <!-- ><i class="fab fa-vk"></i -->
            <!-- ></a> -->
            
            <!-- Stack overflow -->
            <!-- <a class="btn btn-primary" style="background-color: #ffac44;" href="#!" role="button" -->
              <!-- ><i class="fab fa-stack-overflow"></i -->
            <!-- ></a> -->
            
            <!-- Youtube -->
            <!-- <a class="btn btn-primary" style="background-color: #ed302f;" href="#!" role="button" -->
              <!-- ><i class="fab fa-youtube"></i -->
            <!-- ></a> -->
            
            <!-- Slack -->
            <!-- <a class="btn btn-primary" style="background-color: #481449;" href="#!" role="button" -->
              <!-- ><i class="fab fa-slack-hash"></i -->
            <!-- ></a> -->
            
            <!-- Github -->
            <!-- <a class="btn btn-primary" style="background-color: #333333;" href="#!" role="button" -->
              <!-- ><i class="fab fa-github"></i -->
            <!-- ></a> -->
            
            <!-- Dribbble -->
            <!-- <a class="btn btn-primary" style="background-color: #ec4a89;" href="#!" role="button" -->
              <!-- ><i class="fab fa-dribbble"></i -->
            <!-- ></a> -->
<!--              -->
            <!-- Reddit -->
            <!-- <a class="btn btn-primary" style="background-color: #ff4500;" href="#!" role="button" -->
              <!-- ><i class="fab fa-reddit-alien"></i -->
            <!-- ></a> -->
            
            <!-- Whatsapp -->
            <a class="btn btn-primary" style="background-color: #25d366; width: 100%; height: 100px;" href="https://wa.me/+51959656213?text=Hola, mi nombre es: %0A y me gustaria:" target="_blank" role="button"
              ><i style="line-height: 80px;" class="fab fa-whatsapp"></i
            ></a>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


{% endblock %}